body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 400;
  color: #221d1d;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  outline: none;
}

a {
  color: #254e61;
  outline: none;
  text-decoration: underline;
}

.page {
  background: #fff;
  padding: 20px 20px 0;
}

.page__side {
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
}

#content {
  font-size: 15px;
  line-height: 1.66667;
  position: relative;
}

#content h1 {
  font-size: 30px;
  margin: 0 0 10px 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #3d5a67 !important;
  line-height: 1.4;
}

.breadcrumb {
  line-height: 24px;
}

.breadcrumb a {
  color: #000;
  text-decoration: underline;
}

.breadcrumb a:hover {
  text-decoration: none;
}

@media (min-width: 992px) {
  .page_side_left {
    display: flex;
    flex-direction: row-reverse;
  }
  .page_side_left .page__side {
    flex-grow: 0;
    width: 300px;
  }
  .page_side_left .page__main {
    padding-left: 20px;
  }
}
